@model DesignWebsiteContent.Models.InputOutput

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-2">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <h2>@Html.LabelFor(m => m.ContentCarousel)</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <h4>Project</h4>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                @Html.LabelFor(m => m.ContentCarousel.FilePath)

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">img/</div>
                    </div>
                    @Html.TextBoxFor(m => m.ContentCarousel.FilePath, new { @class = "form-control filePath" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                @Html.LabelFor(m => m.ContentCarousel.ThumbnailSlidePair.Thumbnail)
                <div class="thumbnail">
                    <input type="file" class="form-control-file">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">/</div>
                        </div>
                        @Html.TextBoxFor(m => m.ContentCarousel.ThumbnailSlidePair.Thumbnail, new { @class = "form-control", @disabled = true })
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                @Html.LabelFor(m => m.ContentCarousel.ThumbnailSlidePair.TitleBox.Title)
                @Html.TextBoxFor(m => m.ContentCarousel.ThumbnailSlidePair.TitleBox.Title, new { @class = "form-control titleValue" })
                @Html.LabelFor(m => m.ContentCarousel.ThumbnailSlidePair.TitleBox.Caption)
                @Html.TextAreaFor(m => m.ContentCarousel.ThumbnailSlidePair.TitleBox.Caption, new { @class = "form-control caption", @rows = "5" })
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <div class="leftSlide">
                    @Html.LabelFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().LeftSlide.Image)
                    <input type="file" class="form-control-file">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">/</div>
                        </div>
                        @Html.TextBoxFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().LeftSlide.Image, new { @class = "form-control image", @disabled = true })
                    </div>

                    @Html.LabelFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().LeftSlide.TextBox.FirstOrDefault())
                    @Html.TextAreaFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().LeftSlide.TextBox.FirstOrDefault(), new { @class = "form-control textBox", @rows = "5" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <div class="rightSlide">
                    @Html.LabelFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.Image)
                    <input type="file" class="form-control-file">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">/</div>
                        </div>
                        @Html.TextBoxFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.Image, new { @class = "form-control image", @disabled = true })
                    </div>

                    <div class="textBox">
                        @Html.LabelFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.TextBox.FirstOrDefault())
                        @Html.TextBoxFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.TextBox.FirstOrDefault(), new { @class = "form-control" })
                        @Html.LabelFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.TextBox.Text)
                        @Html.TextAreaFor(m => m.ContentCarousel.SlidePairs.FirstOrDefault().RightSlide.TextBox.Text, new { @class = "form-control textValue", @rows = "5" })
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="extraSlides"></div>
    <div class="row mb-3">
        <div class="col-12">
            <button class="btn btn-primary" id="addSlidePair">Add Slide Pair</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="generate">Generate HTML</button>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row justify-content-middle">
        <div class="col-12">
            <div class="form-group">
                <h4>@Html.LabelFor(m => m.Output)</h4>
                @Html.TextAreaFor(m => m.Output, new { @class = "form-control", @id = "output", @rows = "10", @style = "font-family:calibri;" })
            </div>
        </div>
        <div class="col-auto mr-auto">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="refresh">Refresh Preview</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">

                <button type="button" class="btn btn-dark" id="copy">Copy</button>

            </div>
        </div>
        <div class="col-12" style="min-height: 3rem;text-align:right;">
            <p class="copied"></p>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h4>Preview</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="preview">
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
